<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Herd Immunity</title>
    <link rel='stylesheet' href='/css/vendor/normalize.css'>
    <link rel='stylesheet' href='/css/vendor/foundation.min.css'>
    <link rel='stylesheet' href='/css/app.css'>
    <script src='js/vendor/modernizr.js'></script>
  </head>
  <body>
    <%= yield %>
    <script src='/js/vendor/jquery-1.11.2.min.js'></script>
    <script src='/js/vendor/foundation.min.js'></script>
    <script src='/js/canvas.js'></script>
    <script src='/js/switch.js'></script>
    <script src='/js/balls.js'></script>
    <script src='/js/animation.js'></script>
    <script>$(document).foundation();</script>
  </body>
</html>
